@import "tailwindcss";

/* Theme styles */
:root {
  --background: #94a3b8;
  --text      : #FFF;
}

:root.dark {
  --background: #0D1117;
  --text      : #FFF;
}

body {
  background-color: var(--background);
  color           : var(--text);
  transition      : background-color 0.3s ease, color 0.3s ease;
}